<!DOCTYPE html>
<html>
  <head>
    <title>Music____App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if current_user %>
      <h2>welcome, <%= current_user.email%></h2>
      <form  action="<%=sessions_url%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="submit"  value="log out">
      </form>
    <%else %>
    <form  action="<%=new_sessions_url%>" method="get">
      <input type="submit"  value="log in">
    </form>
    <%end %>
    <%= yield %>
  </body>
</html>
